<a [routerLink]="['/shop']" class="back">Back</a>

<div *ngIf="product; else loader" class="product">
  <h2>{{ product.name }}</h2>
  <img [src]="product.img" alt="Loading ...">
  <p>{{ product.description }}</p>
  <h3>Price: {{ product.cost | currency }}</h3>

  <div class="quantity">
    <p>Quantity:</p>
    <button (click)="increaseCount()">+</button>
    <p>{{ count }}</p>
    <button (click)="decreaseCount()">-</button>
  </div>

  <button class="btn yellow">Add to cart</button>
</div>

<ng-template #loader><i nz-icon nzType="loading"></i></ng-template>

