.wrapper {
  min-height: calc(100% - 45px);
  background: #F4F4F4;
  padding-top: 10px;
  .card {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 55px;
    padding: 5px 5px;
    background: white;
    margin-bottom: 10px;

    img {
      width: 48px;
      margin-right: 20px;
    }

    div {
      display: flex;
      flex-direction: column;
      height: 45px;
    }

    h3 {
      margin: 0;
    }
  }
}
